.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: anime, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: anime, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: anime, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

a {
  color: #f4f4f4;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

a:hover {
  opacity: .75;
}

.body {
  color: #f4f4f4;
  background-color: #000;
  font-family: Varela Round, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

.nav-container {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  min-height: auto;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  font-size: 18px;
  display: flex;
}

.nav-btn {
  text-transform: uppercase;
  background-color: #02676b;
  border-radius: 10px;
  padding: 16px 32px;
  font-weight: 500;
  transition: all .35s;
}

.nav-btn:hover {
  background-color: #025c5f;
}

.nav-btn.btn-mobile {
  background-color: rgba(2, 103, 107, 0);
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  margin-left: 50px;
  padding: 15px 45px;
}

.logo {
  width: 150px;
}

.nav-menu {
  width: auto;
  height: 100%;
  color: #3f0a3d;
  align-items: center;
  display: flex;
}

.nav-main {
  background-color: rgba(255, 255, 255, 0);
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  box-shadow: 11px 11px 25px rgba(9, 7, 37, .06);
}

.nav-brand {
  border-bottom-style: none;
  margin-right: 20px;
  padding: 0;
  display: flex;
}

.line-break {
  width: 1px;
  min-height: 25px;
  background-color: #ddd;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link {
  color: #f4f4f4;
  border-bottom-style: none;
  margin-left: 50px;
  margin-right: 0;
  padding: 0;
  font-size: 18px;
  transition: all .35s;
}

.nav-link:hover {
  opacity: .75;
  color: #f4f4f4;
}

.text-block {
  color: #fff;
}

.s-hero {
  background-image: linear-gradient(#0097FF, rgba(0, 0, 0, .75));
  padding-bottom: 100px;
  overflow: hidden;
}

.c-1300 {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hero-content-centerwrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  display: flex;
}

.hero-h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3em;
  overflow: visible;
}

.hero-h1.gradient-text {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(111deg, #9CFF8A, #88AE63);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 30px;
  overflow: visible;
}

.hero-content {
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.hero-btn-wrapper {
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  margin-top: 50px;
  display: flex;
}

.hero-btn-wrapper.less-margin {
  margin-top: 20px;
}

.hero-btn-wrapper.less-margin.h {
  justify-content: center;
}

.btn-primary {
  background-image: linear-gradient(115deg, #6699a6, #0097FF);
  border-radius: 4px;
  margin-right: 25px;
  padding: 15px 45px;
  font-size: 18px;
  font-weight: 400;
}

.btn-secondary {
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(56, 152, 236, 0);
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
  padding: 15px 45px;
  font-size: 18px;
  font-weight: 500;
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.btn-secondary:hover {
  opacity: 1;
  -webkit-text-fill-color: inherit;
  background-color: #F49A0E;
  background-clip: border-box;
  border-color: #F49A0E;
}

.btn-secondary.full-width {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.btn-secondary.full-width:hover, .btn-secondary.last:hover {
  opacity: 1;
}

.btn-secondary.space {
  margin-bottom: 20px;
}

.btn-secondary.buy-link:hover, .btn-secondary.telegram-link:hover {
  background-color: #0097FF;
}

.sub-header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5em;
}

.concept-img-1 {
  max-width: 75%;
  margin-top: 75px;
}

.s-content {
  padding: 100px 5%;
  display: block;
}

.content-center-container {
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.h2 {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(111deg, #0097FF, #F49A0E);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2em;
}

.content-center-inner-wrapper {
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.paragraph {
  color: #d7d7d7;
  text-align: center;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.5em;
}

.c-1100 {
  z-index: 3;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.grid-box-wrapper {
  width: 100%;
  display: block;
}

.grid {
  grid-column-gap: 175px;
  grid-row-gap: 175px;
  grid-template-rows: auto auto auto;
}

.h3 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.5em;
}

.p-main {
  color: #cacaca;
  text-align: center;
  font-size: 22px;
  line-height: 1.5em;
}

.p-main.left {
  color: #cacaca;
  text-align: left;
}

.image {
  max-width: 85%;
}

.image-2 {
  max-width: 85%;
  display: block;
}

.feature-grid-2 {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-rows: auto auto auto;
  margin-top: 100px;
}

.heading-2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.paragraph-3 {
  color: #d7d7d7;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5em;
}

.hero-p {
  font-size: 18px;
}

.waves-container {
  object-fit: fill;
  padding-top: 110px;
  padding-bottom: 110px;
  position: relative;
  overflow: hidden;
}

.s-features-1-no-margin {
  padding-top: 0;
  padding-bottom: 0;
}

.waves {
  z-index: 1;
  max-width: 200%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.s-footer {
  background-image: linear-gradient(rgba(255, 255, 255, 0), #);
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer-grid {
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  margin-top: 200px;
}

.crush-hero-img-wrapper {
  width: 80%;
  max-width: 80%;
  display: flex;
  position: absolute;
}

.image-3 {
  z-index: 1;
  max-width: 40%;
  position: relative;
}

.image-4 {
  max-width: 40%;
}

.particle-wrapper {
  z-index: 1;
  display: block;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.grid-img-wrap {
  justify-content: center;
  display: flex;
}

.image-5 {
  z-index: 5;
  position: relative;
}

.scroll-img-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: flex;
}

.scroll-img-single {
  max-width: 75%;
  margin-bottom: 100px;
}

.scroll-img-single.last {
  margin-bottom: 0;
}

.scroll-img-content-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.content-left {
  width: 25%;
  max-width: 50%;
}

.content-right {
  width: 70%;
}

.p-smaller {
  color: #cacaca;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5em;
}

.h3-grid {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2em;
}

.image-6 {
  margin-bottom: 40px;
}

.pricing-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 90px;
  margin-bottom: 0;
}

.pricing-wrapper {
  border: 1px solid #0097FF;
  border-radius: 4px;
  padding: 40px;
}

.pricing-wrapper.last {
  border-radius: 4px;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.paragraph-5 {
  color: #d9d9d9;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5em;
}

.price {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5em;
}

.text-block-3 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.5em;
}

.hero-box-wrapper {
  width: 100vw;
  height: 450px;
  border: 2px #F49A0E;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.img-row {
  margin-left: 15px;
  margin-right: 15px;
}

.img-row._1, .img-row._3, .img-row._5 {
  margin-top: -50px;
}

.hero-box {
  z-index: 3;
  height: 500px;
  background-color: #162131;
  background-image: linear-gradient(#162131, #000);
  border: 2px rgba(149, 187, 196, .49);
  border-radius: 4px;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.moon {
  padding: 35px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.s-animation {
  height: 200vh;
}

.animation-wrap {
  z-index: 5;
  height: 369px;
  background-color: #23344e;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
}

.s-grid-animation {
  z-index: 5;
  height: 75vh;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/BULLDOG\ LOW.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  border-top: 1px solid #0097FF;
  border-bottom: 1px solid #0097FF;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.image-7 {
  max-width: 100%;
}

.image-8 {
  z-index: 5;
  width: 100%;
  max-width: 150%;
  opacity: 0;
  background-color: #000;
  margin-top: 0;
  position: relative;
}

.main-img {
  width: 50%;
  max-width: 100%;
  margin-top: -50px;
}

.center-img {
  justify-content: center;
  display: flex;
}

.nav-logo {
  height: 60px;
}

.content-center-outer-wrapper {
  justify-content: center;
  display: flex;
}

.flex-grid-wrapper {
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 100px;
  display: flex;
}

.flex-grid-wrapper.left-right {
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.flex-grid-wrapper.left-right.last {
  margin-bottom: 0;
}

.flex-grid-wrapper.right-left {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.flex-grid-left {
  width: 45%;
  max-width: 50%;
}

.flex-grid-left.left {
  text-align: right;
}

.flex-grid-left.right {
  text-align: left;
}

.feaure-img {
  width: auto;
  max-height: 300px;
}

.logo-txt {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: anime, sans-serif;
  font-size: 42px;
}

.buttons-bsc {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.pepetg {
  width: 50%;
}

.css {
  display: none;
}

.text-orange {
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(111deg, #0097FF, #F49A0E);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2em;
}

.script {
  display: none;
}

.c2c-3 {
  border-radius: 15px;
  align-items: center;
  display: flex;
}

.c2c-3.v2 {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
}

.c2c-3-text {
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
}

.clipboard-copy-svg-code {
  width: 1.2rem;
  align-items: center;
  display: flex;
}

.clipboard-code {
  display: none;
}

.button-group-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.copy-button {
  color: #6a53ff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .05);
  border: 2px solid rgba(106, 83, 255, .5);
  border-radius: 10px;
  align-items: center;
  padding: 6.5px;
  transition: all .2s;
  display: flex;
}

.copy-button:hover {
  filter: brightness(125%);
  color: #F49A0E;
  border-color: #F49A0E;
}

.copy-button.v3 {
  color: #fff;
  background-color: #0097FF;
  border-color: #000;
  border-radius: 20px;
}

.c2c-icon-done {
  height: 15px;
  display: none;
}

.c2c-txt {
  margin-bottom: 0;
  font-size: .9rem;
}

.c2c-txt.tablet {
  display: none;
}

@media screen and (max-width: 991px) {
  .nav-container {
    min-height: auto;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
  }

  .nav-btn.btn-mobile {
    display: none;
  }

  .nav-menu {
    height: auto;
    color: #fff;
    background-color: #F49A0E;
    padding-left: 50px;
    padding-right: 50px;
  }

  .nav-brand {
    margin-right: 10px;
    padding: 0;
  }

  .line-break {
    display: none;
  }

  .nav-link {
    width: 100%;
    color: #fff;
    margin-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .nav-link:hover {
    color: #fff;
  }

  .nav-menu-btn {
    color: #02676b;
    border: 1px solid rgba(2, 103, 107, .1);
    padding: 0;
  }

  .nav-menu-btn.w--open {
    background-color: rgba(2, 103, 107, 0);
    border-style: none;
    border-color: #02676b;
    padding: 0;
  }

  .icon {
    color: #f4f4f4;
    font-size: 50px;
  }

  .s-hero {
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .h3 {
    font-size: 25px;
  }

  .p-main {
    font-size: 20px;
  }

  .p-main.left {
    font-size: 18px;
  }

  .s-footer {
    padding: 50px 50px 100px;
  }

  .footer-grid {
    margin-top: 100px;
  }

  .scroll-img-single {
    max-width: 100%;
  }

  .pricing-grid {
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .s-grid-animation {
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .main-img {
    width: 60%;
    margin-top: -25px;
  }

  .flex-grid-wrapper.left-right {
    margin-bottom: 100px;
  }

  .flex-grid-wrapper.left-right.last {
    margin-bottom: 0;
  }

  .flex-grid-wrapper.right-left {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .hero-h1 {
    font-size: 50px;
  }

  .p-main {
    font-size: 18px;
  }

  .image, .image-2 {
    max-width: 100%;
  }

  .s-footer {
    padding-bottom: 50px;
  }

  .footer-grid {
    display: block;
  }

  .scroll-img-content-wrapper {
    flex-direction: column;
  }

  .content-left {
    width: 100%;
    max-width: 100%;
  }

  .content-right {
    width: 100%;
  }

  .p-smaller {
    font-size: 18px;
  }

  .h3-grid {
    margin-bottom: 25px;
    font-size: 30px;
  }

  .pricing-grid {
    grid-template-columns: 1fr;
    margin-top: 50px;
    display: block;
  }

  .pricing-wrapper {
    margin-bottom: 50px;
  }

  .pricing-wrapper.last {
    margin-bottom: 0;
  }

  .main-img {
    width: 75%;
  }

  .text-block-4 {
    text-align: center;
    margin-bottom: 25px;
  }

  .text-block-5 {
    text-align: center;
  }

  .flex-grid-wrapper.left-right {
    flex-direction: column;
  }

  .flex-grid-wrapper.right-left {
    display: block;
  }

  .flex-grid-left {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .flex-grid-right {
    max-width: 100%;
  }

  .c2c-txt {
    display: none;
  }

  .c2c-txt.tablet {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .body {
    line-height: 1.5em;
  }

  .hero-btn-wrapper {
    display: block;
  }

  .btn-secondary {
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
    display: flex;
  }

  .btn-secondary.full-width, .btn-secondary.last {
    margin-bottom: 0;
  }

  .sub-header {
    margin-top: 25px;
    font-size: 18px;
  }

  .h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .content-center-inner-wrapper {
    max-width: 100%;
  }

  .h3 {
    font-size: 25px;
  }

  .p-main {
    text-align: left;
  }

  .s-footer {
    padding-left: 25px;
    padding-right: 25px;
  }

  .footer-grid {
    margin-top: 50px;
  }

  .h3-grid {
    font-size: 25px;
  }

  .pricing-wrapper {
    padding: 30px;
  }

  .s-grid-animation {
    height: 100%;
  }

  .main-img {
    width: 100%;
  }

  .text-block-4 {
    line-height: 1.5em;
  }

  .flex-grid-wrapper.left-right.last {
    margin-bottom: 0;
  }

  .text-orange {
    margin-bottom: 20px;
  }
}


@font-face {
  font-family: 'Gordita';
  src: url('../fonts/Gordita-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gordita';
  src: url('../fonts/Gordita-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gordita';
  src: url('../fonts/Gordita-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orionprimedemo 1grv4';
  src: url('../fonts/Orionprimedemo-1GrV4.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'anime';
  src: url('../fonts/animeace2_bld.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'anime';
  src: url('../fonts/animeace2_ital.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'anime';
  src: url('../fonts/animeace2_reg.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}